.nav {
  grid-area: n;
  background-color: rgb(175, 154, 128);
  padding: 20px;
}
.item a {
  color: bisque;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(244, 244, 61);
  text-decoration: none;
}
